.wrapper {
	position: relative;
	max-width: 1280px;
	max-height: 720px;
	margin: auto;
	border: 4px solid red;
}

.body {
	background-color: lightslategray;
}

.output {
	background-color: black;
	text-align: center;
	color: #caa560;
	left: 35%;
	right: 35%;
}

.input {	
	background-color: black;
	color: #caa560;
	width: 100%;
}

.sexy-border {
	border: 2px solid #caa560;
}

.dialog-wrapper {	
	bottom: 50px;
	margin: auto;
	position: absolute;
	z-index: 9999;
	visibility: hidden;
}

.dialog {
	position: absolute;
	top: 45%;
	z-index: 9999;
	display: inline-block;
}

.dialog-header {
	padding-left: 15px;
	text-align: left;
}

.dialog-body {
	padding: 0px 25px 0px 20px;
}

.dialog-footer {
	text-align: right;
	padding: 10px;
	margin: 0px 10px 10px 10px;
}

.dialog-footer button {
	background-color: black;
	color: #caa560;
}